/*Lista de Colores*/

// color de letras:
$letra-color:
#8b869c, 
#61564b,
aliceblue,
#7e7771,
rgba(100, 100, 80, 0.944),
rgb(156, 156, 125),
#796c5e


;


// color de FOndo:
$fondo-color:
#353434,
#444040a6,
rgba(255,255,255,.1),
rgba(231, 231, 214, 0.773),
#645950


;


// Color de Bordes:
$border-color:
#9A8A78



;





